.app__term {
  padding: 20px;
}

.app__term-top {
  color: white;
  height: 400px;
  background: linear-gradient(95.08deg, #4798e8 0%, #0c81f4 100.4%);
  border-radius: 20px;
}
.app__term-top img {
  position: absolute;
  top: 180px;
  left: 120px;
}

.app__term-top-title {
  padding: 200px 0 100px 120px;
}

.app__term-top-title p:nth-child(1) {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}
.app__term-top-title p:nth-child(2) {
  font-size: 48px;
  line-height: 72px;
}

.app__term-link {
  margin: 48px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__term-link-item:nth-child(1) {
  width: 360px;
  padding: 18px 0;
  font-size: 24px;
  line-height: 36px;
  color: white;
  text-align: center;
  background: #99ccff;
  box-shadow: 0px 12px 24px #e3f1ff;
  border-radius: 20px;
  margin-right: 10px;
}
.app__term-link-item:nth-child(2) {
  width: 360px;
  padding: 18px 0;
  font-size: 24px;
  line-height: 36px;
  color: white;
  text-align: center;
  background: #51a8ff;
  box-shadow: 0px 12px 24px #92c8ff;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.app__term-link-item:nth-child(3) {
  width: 360px;
  padding: 18px 0;
  font-size: 24px;
  line-height: 36px;
  color: white;
  text-align: center;
  background: #4798e8;
  box-shadow: 0px 12px 24px #69b4fe;
  border-radius: 20px;
  margin-left: 10px;
}

.app__term-link-item a {
  color: white;
  cursor: pointer;
}

.app__term-body {
  margin: 0 40px;
  border: 5px solid #f1f1f1;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 80px;
}
.title {
  font-size: 24px;
  color: #6f6f6f;
}

.app__term-body p {
  font-size: 18px;
  line-height: 40px;
  color: #6f6f6f;
  text-align: justify;
}

ol {
  list-style-type: decimal;
  padding-left: 90px;
}

ol > ol {
  padding-left: 45px;
}

li {
  display: list-item;
}

li > p {
  margin-left: 8px;
}
