*::-webkit-scrollbar {
  display: none;
}

.container div {
  scroll-snap-type: y mandatory;
}

.p__poppins {
  font-family: var(--font-base);
  font-weight: 400;
}

.p__outfit {
  font-family: var(--font-alt);
  font-weight: 400;
}

span {
  margin-left: 0.5rem;
}

.sb {
  font-weight: 600;
}

.sb-24 {
  font-weight: 600;
  font-size: 24px;
}

.m {
  font-weight: 500;
}

.b {
  font-weight: 700;
}

button:hover {
  transform: scale(1.02);
}

a {
  text-decoration: none;
}

.app__navbar {
  z-index: 100;
}

.app__heroMain {
  position: relative;
  z-index: -10;
}

.gradient1 {
  background: linear-gradient(270deg, #df2772 0%, #fe4f32 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
